.allSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/bgcolor2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  @media all and (min-width: 768px) {
    height: 100%;
  }

  .pSection {
    text-align: center;
    margin-top: 80px;
    color: rgb(197, 197, 197);
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    @media all and (min-width: 768px) {
      margin: 100px;
    }
    @media all and (min-width: 1024px) {
      margin: 100px;
      font-size: 45px;
    }
    @media all and (min-width: 1440px) {
      margin: 100px;
    }
    @media all and (min-width: 2044px) {
      margin: 100px;
      font-size: 55px;
    }

    .descriptionSection {
      padding-top: 20px;
      font-size: 25px;
      @media all and (min-width: 2044px) {
        font-size: 35px;
      }
    }
  }

  .projectImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .imageOne {
      max-width: 250px;
      max-height: 250px;
      border: solid 2px #a598ec;
      border-radius: 6px;
      @media all and (min-width: 768px) {
        max-width: 200px;
        max-height: 200px;
      }
      @media all and (min-width: 1024px) {
        max-width: 250px;
        max-height: 250px;
      }

      @media all and (min-width: 2560px) {
        max-width: 350px;
        max-height: 350px;
      }
    }
    .pGraphic {
      padding-bottom: 90px;
      text-align: center;
      font-size: 25px;
      font-family: 'Amatic SC', cursive;
      color: #a598ec;
      @media all and (min-width: 768px) {
        font-size: 35px;
      }
      &:hover {
        color: transparent;
        background-image: linear-gradient(
          to left,
          #ffd700,
          #7b68ee,
          #3498db,
          #2ecc71,
          #ffd700
        );
        background-clip: text;
        animation: color 3s linear infinite;
        animation-direction: alternate-reverse;
        background-size: 500%;

        @keyframes color {
          from {
            background-position: 0% 50%;
          }

          to {
            background-position: 100% 50%;
          }
        }
      }
    }
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: start;
    }
  }
  .maquetationImg {
    padding: 10px;
  }
}

.videoGif {
  margin-top: 20px;

  width: 250px;
  height: 200px;
  @media all and (min-width: 768px) {
    margin-top: 40px;
    width: 450px;
    height: 400px;
  }
}
