.firstView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url(../../images/bgcolor2.jpg);
  background-position: center;
  background: cover;
  background-size: cover;
  overflow: hidden;
  &__image {
    height: 100vh;
  }

  &__portfolio {
    text-align: center;
    margin-top: 180px;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: transparent;
    background-image: linear-gradient(
      to left,
      #ffd700,
      #7b68ee,
      #3498db,
      #2ecc71,
      #ffd700
    );
    background-clip: text;
    animation: color 3s linear infinite;
    animation-direction: alternate-reverse;
    background-size: 500%;
    @keyframes color {
      from {
        background-position: 0% 50%;
      }

      to {
        background-position: 100% 50%;
      }
    }

    @media all and (min-width: 768px) {
      margin-top: 280px;
    }
  }

  &__p {
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgb(189, 189, 189);
  }

  &__btn {
    margin-top: 30px;
    padding: 5px;
    height: 35px;
    width: 130px;
    border-style: none;
    border-radius: 7px;
    box-shadow: 1px 0.5px 1px 0.5px rgba(246, 246, 246, 0.3);
    background-image: linear-gradient(to left, #a598ec, #6badda, #7cc89c);
  }

  &__look {
    color: rgb(246, 246, 246);
    font-family: 'Raleway', sans-serif;
  }
}
